.root {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.root:not(:first-of-type) {
    border-top: 0;
}

.label:has(input:checked) {
    background-color: #064572;
}

.label > input {
    display: none;
    position: absolute;
}

.label {
    padding-block: 10px;
    padding-left: 10px;
    display: inline-block;
    font-size: 20px;
    flex: 1 0 100%;
}

.button {
    background-color: tomato;
    border: 0;
    outline: 0;
    height: 50px;
    width: 50px;

    padding-block: 10px;
    padding-left: 10px;
    fill: currentColor;
    flex: 1 0 auto;
}
